.ContainerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F5F5F5;
  padding-left: 20px;
  padding-right: 20px;
}

.logoImage {
  resize: contain;
  height: 31px; 
  width: 150px;
  margin-right: 10px;
}

.ContainerMid {
  display: flex;
  flex-direction: row;
  padding:10px;  
  align-items: center;  
}

.BtnSearch {
  background-color: green;
}

.bottomMenu {  
  background-color: #37A000;
  height: 40px;  
 
}

.menuText {
  color: white;
  font-weight: 'bold';
}

/* .textInput {
  border: solid;
  border-width: 1px;  
  height: 40px;
} */

/* .MuiInputLabel-outlined {
  transform: translate(12px, 14px) scale(1) !important;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(12px, -6px) scale(0.75) !important;
} */


